@import "reset.css";

body {
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.real-main {
  position: relative;
}

.main-screen {
  background-color: white;
  width: 300px;
  padding: 35px 30px;
}

.yellow-screen {
  background-color: #f5f542;
}

h2 {
  margin: 10px 0px;
  font-weight: bolder;
}

.library-main-header-bar {
  display: flex;
  justify-content: space-between;
}

.library-main-header-bar i {
  margin: 18px 20px 0px 20px;
}

input {
  display: flex;
  border-radius: 20px;
  width: 290px;
  height: 30px;
  box-shadow: 0px 2px gray;
  position: absolute;
  top: 40px;
  left: 35px;
}

input::placeholder {
  padding-left: 30px;
}

#day-book-header {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.day-book {
  display: flex;
}

.day-book img {
  height: 150px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10px;
}

.text-and-button {
  margin-left: 40px;
}

.text-and-button span {
  opacity: 0.5;
  font-size: xx-small;
  margin-top: 5px;
}

.all-books-star-point {
  margin-top: 5px;
}
.all-books-star-point {
  color: rgb(211, 211, 38);
}

.all-books-star-point :last-child {
  color: gray;
  opacity: 0.5;
}

.day-book-button-first {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.day-book-button-first :last-child {
  margin-left: 20px;
}

.day-book-button-first div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  font-size: 5px;
  background-color: rgb(159, 157, 157);
  border-radius: 3px;
}

.day-book-button-second {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 237, 60);
}

.only-black {
  width: 70px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  border-radius: 5px;
  background-color: black;
}

.top-book {
  display: flex;
}

.top-book :nth-child(2) {
  margin-left: 63px;
}
.top-book :last-child {
  margin-left: 63px;
}

.top-book img {
  width: 50px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid black;
}

.starcraft {
  display: flex;
  font-size: small;
  justify-content: space-between;
  overflow-x: scroll;
}

.author {
  display: flex;
}

.author img {
  height: 180px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid black;
}
.author-text-zone {
  margin-left: 20px;
}

.author-text-zone h3 {
  font-weight: bold;
}

.author-text-zone span {
  font-size: x-small;
  opacity: 0.5;
}
