body {
  height: 100vh;
  background-color: rgb(237, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-divider {
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen {
  background-color: white;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgb(161, 158, 158);
}

.left-screen__btn {
  display: flex;
  margin-top: 5px;
  justify-content: space-evenly;
}

.left-screen__btn span {
}

.black_btn {
  width: 70px;
  height: 30px;
  background-color: black;
  border-radius: 15px;
}
.black_btn span {
  color: white;
  font-size: small;
}

.white_btn {
  width: 70px;
  height: 30px;
  background-color: gray;
  border-radius: 15px;
}
.white_btn span {
  font-size: small;
}

/* Left-Screen-Part */
.left-screen__header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-screen__singer-img {
  display: flex;
  justify-content: center;
}

.left-screen__singer-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 2px #ec4848;
}

.left-screen__song-info {
}

/* Right-Screen-Part */
.right-screen__header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.right-screen__album-img {
  display: flex;
  justify-content: center;
}

.right-screen__album-img img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 3px 8px 3px #ec4848;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.song-info span {
  margin-bottom: 10px;
}

.big-name {
  font-weight: bold;
  font-size: 20px;
}

.small-name {
  opacity: 0.5;
  font-size: 1px;
}

.right-screen__time {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
}

.right-screen__time p {
  opacity: 0.5;
  font-size: xx-small;
}

.time-range {
}

.right-screen__icons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.right-screen__icons :first-child {
  margin-left: 20px;
  opacity: 0.5;
}

.right-screen__icons :last-child {
  margin-right: 20px;
  opacity: 0.5;
}

.right-screen__icons :nth-child(3) {
  color: white;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
