h1 {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

div {
  width: 150px;
  height: 300px;
  border: 7px solid #f9f7f7;
  margin: 10px;
  position: relative;
}

.first-line div:first-child {
  background-color: tomato;
}

.first-line div:last-child {
  background-color: teal;
}

.last-line div:first-child {
  background-color: burlywood;
}

.last-line div:last-child {
  background-color: thistle;
}

#font-area {
  position: absolute;
  width: 150px;
  background-color: #f9f7f7;
  top: 20px;
}
